<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
</head>

<body>

    <div id="app">
        <h2>{{title}}</h2>
        <input type="text" v-model="title" @keydown.enter="addTodo">
        <button v-if="active<all" @click="clear">清理</button>
        <ul v-if="this.todos.length">
            <li v-for="todo in todos">
                <input type="checkbox" v-model="todo.done">
                <span :class="{done:todo.done}">{{todo.title}}</span>
            </li>
        </ul>
        <div v-else>暂无数据</div>
        <div>
            <span>{{active}}/{{all}}</span>
            <input type="checkbox" v-model="allDone">
        </div>

    </div>

    <script src="https://unpkg.com/vue@next"></script>

    <script>
        const App = {
            data() {
                return {
                    title: "", // 定义一个数据
                    todos: [{
                            title: "吃饭",
                            done: false
                        },
                        {
                            title: "睡觉",
                            done: true
                        }
                    ]
                }
            },
            methods: {
                addTodo() {
                    this.todos.push({
                        title: this.title,
                        done: false

                    })
                    this.title = ''
                },
                clear() {
                    this.todos = this.todos.filter(v => !v.done)
                }
            },
            watch: {
                todos: { // 监听数据变更
                    handler(newVal, oldVal) {
                        console.info("todos->change")
                        // TODO::原来是在unmount时才保存的，但unmount代码没有执行，所以换成wathc了，不知道为什么unmount没有执行
                        localStorage.setItem("todos", JSON.stringify(this.todos))
                    },
                    deep: true
                }
            },
            mounted() {
                //加载数据
                var todos = localStorage.getItem("todos");
                if (todos) {
                    this.todos = JSON.parse(todos);
                }
            },
            unmounted() {
                //保存数据
                localStorage.setItem("todos", JSON.stringify(this.todos))
            },
            computed: {
                active() {
                    return this.todos.filter(v => !v.done).length
                },
                all() {
                    return this.todos.length
                },
                allDone: {
                    get: function() {
                        return this.active === 0
                    },
                    set: function(val) {
                        this.todos.forEach(todo => {
                            todo.done = val
                        });
                    }
                }
            }

        }
        // 启动应用
        Vue.createApp(App).mount('#app')
    </script>


    <style>
        .done {
            color: gray;
            text-decoration: line-through;
        }
    </style>

</body>

</html>